@font-face {
    font-family: Outfit-reg;
    src: url(../fonts/Outfit-Regular.woff2) format('woff2');
}
@font-face {
    font-family: Outfit-med;
    src: url(../fonts/Outfit-Medium.woff2) format('woff2');
}
@font-face {
    font-family: Outfit-bold;
    src: url(../fonts/Outfit-Bold.woff2) format('woff2');
}
@font-face {
    font-family: Outfit-lit;
    src: url(../fonts/Outfit-Light.woff2) format('woff2');
}
@font-face {
    font-family: Outfit-exLit;
    src: url(../fonts/Outfit-ExtraLight.woff2) format('woff2');
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: Outfit-exLit;
    background-image: url("../images/background2.png");
    background-size: 120rem 12rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

h1{
    font-family: Outfit-lit;
}

.menu{
    font-family: Outfit-lit;
    padding: 1rem;
    font-size: 1.25rem;
    word-spacing: 1rem;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 9999;
    background-color: white;
}

.content{
    margin: 3rem 5rem 9rem 5rem;
    font-size: 1.25rem;
}

.intro{
    display: flex;
    gap: 4rem;
}

.brief{
    width: 40rem;
}

.title{
    font-family: Outfit-reg;
}

.details{
    display: flex;
    gap: 12rem;
    margin-top: 2rem;
}

.research, .proposal, .prototype, .reflection{
    margin: 3rem 7rem 0 7rem;
}

.research-img{
    border-radius: 1rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
}

.links{
    display: flex;
    margin-top: 3rem;
    gap: 5rem;
    margin-left: 7rem;
}

.video{
    background-image: url(../images/button1.png);
    background-repeat: no-repeat;
    background-size: 15rem 5rem;
    width: 20rem;
    height: 7rem;
    transition-duration: 0.5s;
}

.link-text{
    margin: 1.5rem 0 0 2rem;
}

.video:hover, .video:focus{
    transform: scale(1.04);
    color: #FFC667;
}