@font-face {
    font-family: Outfit-reg;
    src: url(../fonts/Outfit-Regular.woff2) format('woff2');
}
@font-face {
    font-family: Outfit-med;
    src: url(../fonts/Outfit-Medium.woff2) format('woff2');
}
@font-face {
    font-family: Outfit-bold;
    src: url(../fonts/Outfit-Bold.woff2) format('woff2');
}
@font-face {
    font-family: Outfit-lit;
    src: url(../fonts/Outfit-Light.woff2) format('woff2');
}
@font-face {
    font-family: Outfit-exLit;
    src: url(../fonts/Outfit-ExtraLight.woff2) format('woff2');
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: Outfit-exLit;
    background-image: url("../images/blob2.png");
    background-size: 120rem 12rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

h1{
    font-family: Outfit-lit;
}

.logo-link{
    margin: 1% 0 1% 1%;
}

.logo{
    width: 6rem;
    height: 6rem;
    background-image: url("../images/logo-back.png");
    background-size: 6rem 6rem;
    background-repeat: no-repeat;
    transition-duration: 3s;
}

.logo-icon{
    margin-top: 10%;
    margin-left: 23%;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.logo-link:hover div, .logo-link:focus div{
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.menu{
    font-family: Outfit-lit;
    font-size: 1.25rem;
    word-spacing: 1rem;
    display: flex;
    align-items: end;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 9999;
    background-color: white;
}

.menu-link2{
    margin-left: 80%;
    margin-bottom: 1%;
    transition-duration: 0.5s;
}

.menu-link2:hover, .menu-link2:focus{
    color: #F3B6B1;
}

.content{
    margin: 3rem 5rem 9rem 5rem;
    font-size: 1.25rem;
}

.intro{
    display: flex;
    gap: 4rem;
}

.brief{
    width: 40rem;
}

.title{
    font-family: Outfit-reg;
}

.oden-link{
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-decoration-color: black;
    text-underline-offset: 0.1rem;
    transition-duration: 0.5s;
}

.oden-link:hover, .oden-link:focus{
    text-decoration-color: #F3B6B1;
    color: #F3B6B1;
}

.gif{
    border-radius: 1rem;
    height: 470px;
}

.code, .design{
    margin: 3rem 7rem 0 7rem;
}

.research-img{
    margin-top: 3rem;
    margin-left: 10%;
}

.links{
    display: flex;
    margin-top: 3rem;
    gap: 5rem;
    margin-left: 20rem;
}

.video{
    background-image: url(../images/pink-button.png);
    background-repeat: no-repeat;
    background-size: 15rem 5rem;
    width: 20rem;
    height: 7rem;
    transition-duration: 0.5s;
}

.link-text{
    margin: 1.5rem 0 0 4rem;
}

.video:hover, .video:focus{
    transform: scale(1.04);
    color: #F3B6B1;
}

.contact{
    display: flex;
    gap: 1rem;
    margin-bottom: 4rem;
    margin-left: 3rem;
}

.contact-links{
    display: flex;
    gap: 1rem;
    transition-duration: 0.5s;
}

.social-link:hover, .social-link:focus{
    color: #F3B6B1;
}